<body class="page">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
 <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

   <div class="image1">

  <div class="word1"><h2><%= @idea.idname %></h2>
   <%= button_to "Delete",  @idea , method: :delete, class: "btn btn-danger" %></div>
</br>
</div>
<%= link_to 'new', new_idea_path %>
<%= link_to 'Random', rand_show_path %>

<h2 class="w1"><%= @word1.idname %></h2>
<h2 class="w2"><%= @word2.idname %> </h2>
<h2 class="w3"><%= @word3.idname %> </h3>
<h2 class="w4"><%= @word4.idname %> </h4>

</div>
</body>
